*{
  font-family: 'Cabin';font-size: 22px;
}
body{
  background-color: #14213d;
}

.App {
  text-align: center;
}

h1{
  font-family: 'Roboto Mono', monospace;
  font-size: xx-large;
  color: #ffffff;
}